<div class="top-row ps-3 navbar navbar-dark mt-5">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><h3>BIKE <span class="nav-span">SER</span>VICES</h3></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class='@(_collapseNavMenu ? "collapse" : "")' @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3 mx-3"><h5 class="text-light">Welcome <strong>@Username</strong>!</h5></div>

        @*Link for inventory*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inventory">
                <span class="oi oi-list-rich" /><b>Inventory</b>
            </NavLink>
        </div>

        @*Link for inventory log*@
        @if (UserRole == Role.Admin)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="inventory-log">
                    <span class="oi oi-spreadsheet" /><b>Inventory Log</b>
                </NavLink>
            </div>
        }

        @*Link for manage staff*@
        @if (UserRole == Role.Admin)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="users">
                    <span class="oi oi-person" /><b>Manage Staff</b>
                </NavLink>
            </div>
        }

        @*Link for pending approval*@
        @if (UserRole == Role.Admin)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="request">
                    <span class="oi oi-bell" /><b>Pending Approval</b>
                </NavLink>
            </div>
        }

        @*Link for viewing chart*@
        @if (UserRole == Role.Admin)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="bar-chart">
                    <span class="oi oi-bar-chart" /><b>View Chart</b>
                </NavLink>
            </div>
        }

        @*Link for change password*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="change-password">
                <span class="oi oi-key" /><b>Change Password</b>
            </NavLink>
        </div>


        @*Link for logout*@
        <div class="nav-item px-3 logout-btn mt-5">
            <NavLink class="nav-link text-white bg-danger px-16" role="button" @onclick="LogoutHandler">
                <span class="oi oi-account-logout" /><b>Logout</b>
            </NavLink>
        </div>
    </nav>
</div>

@code {
    [Parameter]
    public string Username { get; set; }
    [Parameter]
    public Role UserRole { get; set; }
    [Parameter]
    public EventCallback LogoutHandler { get; set; }

    private bool _collapseNavMenu { get; set; } = true;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}
